@model Movie.Models.Favorite

@{
    ViewBag.Title = "收藏详情";
}

<h2>收藏详情</h2>

<div>
    <h4>收藏管理</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VideoId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VideoId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FavoriteTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FavoriteTime)
        </dd>

    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.FavoriteId }) |*@
    @Html.ActionLink("返回收藏管理首页", "Index")
</p>
