@model PagedList.IPagedList<Movie.Models.Total>
@using PagedList.Mvc
@{
    ViewBag.Title = "收藏管理主页";
}

<h2>收藏管理主页</h2>

<p>
    @*@Html.ActionLink("Create New", "Create")*@
</p>
@using (Html.BeginForm("Index", "Favorites", FormMethod.Get))
{
    <p>
        用户编号: @Html.TextBox("UserId")
        &nbsp;&nbsp;
        视频编号: @Html.TextBox("VideoId")
        <input type="submit" class="btn btn-default" value="搜索" />
    </p>
}
<table class="table">
    <tr>
        <th>
            用户编号
        </th>
        <th>
            用户邮箱
        </th>
        <th>
            视频编号
        </th>
        <th>
            视频名称
        </th>
        <th>
            收藏时间
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.user.UserId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.user.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.video.VideoId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.video.Vname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.favorite.FavoriteTime)
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id=item.favorite.FavoriteId }) |*@
            @Html.ActionLink("收藏详情", "Details", new { id=item.favorite.FavoriteId }) |
            @Html.ActionLink("删除收藏", "Delete", new { id=item.favorite.FavoriteId })
        </td>
    </tr>
}

</table>
每页 @Model.PageSize 条记录，共 @Model.PageCount 页，当前第 @Model.PageNumber 页
@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))  