@model Movie.Models.User

@{
    ViewBag.Title = "用户详情";
}

<h2>用户详情</h2>

<div>
    <h4>用户管理</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NickName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NickName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.Password)*@
            ****************
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Privilege)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Privilege)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("编辑此用户", "Edit", new { id = Model.UserId }) |
    @Html.ActionLink("返回用户管理首页", "Index")
</p>
