@model PagedList.IPagedList<Movie.Models.User>
@using PagedList.Mvc
@{
    ViewBag.Title = "用户管理首页";
}

<h2>用户管理首页</h2>

<p>
    @Html.ActionLink("创建新用户", "Create")
</p>
@using (Html.BeginForm("List", "Users", FormMethod.Get))
{
    <p>
        昵称: @Html.TextBox("NickName")
        &nbsp;&nbsp;
        邮箱: @Html.TextBox("Email")
        <input type="submit" class="btn btn-default" value="搜索" />
    </p>
}
<table class="table">
    <tr>
        <th>
            昵称
        </th>
        <th>
            密码
        </th>
        <th>
            邮箱
        </th>
        <th>
           权限
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    if (item.Privilege != Movie.Models.User.Privileges.管理员)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NickName)
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.Password)*@
            ****************
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Privilege)
        </td>
        <td>
            @Html.ActionLink("编辑用户信息", "Edit", new { id = item.UserId }) |
            @Html.ActionLink("用户详细信息", "Details", new { id = item.UserId }) |
            @Html.ActionLink("删除用户", "Delete", new { id = item.UserId })
        </td>
    </tr>}
}

</table>
每页 @Model.PageSize 条记录，共 @Model.PageCount 页，当前第 @Model.PageNumber 页
@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))  