@model Movie.Models.Video

@{
    ViewBag.Title = "视频详细信息";
}

<h2>视频详细信息</h2>

<div>
    <h4>视频管理</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Vname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vurl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vurl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Thumbnail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Thumbnail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ViewedNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ViewedNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UploadTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UploadTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vtype)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vtype)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vinfo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vinfo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("返回视频管理首页", "Index")
</p>
