@model Movie.Models.Video

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Video</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Vname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vurl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vurl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Thumbnail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Thumbnail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ViewedNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ViewedNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UploadTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UploadTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vtype)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vtype)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vinfo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vinfo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pic_url)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pic_url)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.VideoId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
