@model IEnumerable<Movie.Models.Video>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Vname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vurl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Thumbnail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ViewedNum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UploadTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vtype)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vinfo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pic_url)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Vname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vurl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Thumbnail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ViewedNum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UploadTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vtype)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vinfo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pic_url)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.VideoId }) |
            @Html.ActionLink("Details", "Details", new { id=item.VideoId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.VideoId })
        </td>
    </tr>
}

</table>
