@model IEnumerable<Movie.Models.Video>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>>视频>首页</p>
<p>
    @Html.ActionLink("Upload", "Upload")
    @using (Html.BeginForm("Index", "Videos", FormMethod.Get))
    {
    <p>
        Type: @Html.DropDownList("Vtype", "All")
        Title: @Html.TextBox("Vname")
        <input type="submit" class="btn btn-default" value="搜索" />
    </p>
    }
</p>
<table style="table-layout:fixed" class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Vname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vurl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Thumbnail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ViewedNum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UploadTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vtype)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vinfo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Vname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vurl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Thumbnail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ViewedNum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UploadTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vtype)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserId)
        </td>
        <td style="overflow:hidden;white-space:nowrap;text-overflow:ellipsis;">
            @Html.DisplayFor(modelItem => item.Vinfo)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.VideoId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.VideoId })
        </td>
    </tr>
}

</table>
