@model IEnumerable<Movie.Models.Total>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("上传视频", "Upload")
</p>
<table class="table" style="table-layout:fixed">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.video.Vname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.video.Vurl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.video.Thumbnail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.video.ViewedNum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.video.UploadTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.video.Vtype)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.video.UserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.user.NickName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.video.Vinfo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.video.Vname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.video.Vurl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.video.Thumbnail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.video.ViewedNum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.video.UploadTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.video.Vtype)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.video.UserId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.user.Email)
        </td>
        <td style="overflow:hidden;white-space:nowrap;text-overflow:ellipsis;">
            @Html.DisplayFor(modelItem => item.video.Vinfo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.video.VideoId }) |
            @Html.ActionLink("Details", "Details", new { id=item.video.VideoId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.video.VideoId })
        </td>
    </tr>
}

</table>
