@model Movie.Models.History

@{
    ViewBag.Title = "历史详情";
}

<h2>历史详情</h2>

<div>
    <h4>History</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VideoId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VideoId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HistoryTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HistoryTime)
        </dd>

    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.HistoryId }) |*@
    @Html.ActionLink("返回历史管理首页", "Index")
</p>
