@model IEnumerable<Movie.Models.Total>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            用户编号
        </th>
        <th>
            用户邮箱
        </th>
        <th>
            视频编号
        </th>
        <th>
            视频名称
        </th>
        <th>
            播放历史时间
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.history.UserId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.user.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.history.VideoId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.video.Vname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.history.HistoryTime)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.history.HistoryId }) |
            @Html.ActionLink("Details", "Details", new { id=item.history.HistoryId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.history.HistoryId })
        </td>
    </tr>
}

</table>
