@model PagedList.IPagedList<Movie.Models.Total>
@using PagedList.Mvc
@{
    ViewBag.Title = "历史管理首页";
}

<h2>历史管理</h2>

@*<p>
    @Html.ActionLink("创建历史", "Create")
</p>*@
@using (Html.BeginForm("Index", "Histories", FormMethod.Get))
{
    <p>
        用户编号: @Html.TextBox("UserId")
        &nbsp;&nbsp;
        视频编号: @Html.TextBox("VideoId")
        <input type="submit" class="btn btn-default" value="搜索" />
    </p>
}
<table class="table">
    <tr>
        <th>
            用户编号
        </th>
        <th>
            用户邮箱
        </th>
        <th>
            视频编号
        </th>
        <th>
            视频名称
        </th>
        <th>
            播放时间
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.history.UserId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.user.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.history.VideoId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.video.Vname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.history.HistoryTime)
        </td>
        <td>
            @Html.ActionLink("历史详情", "Details", new { id=item.history.HistoryId }) |
            @Html.ActionLink("删除历史", "Delete", new { id=item.history.HistoryId })
        </td>
    </tr>
}

</table>
每页 @Model.PageSize 条记录，共 @Model.PageCount 页，当前第 @Model.PageNumber 页
@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))  