@model Movie.Models.Comment

@{
    ViewBag.Title = "删除评论";
}

<h2>Delete</h2>

<h3>确定删除此评论？</h3>
<div>
    <h4>评论管理</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VideoId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VideoId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CommentTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CommentTime)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="删除" class="btn btn-default" /> |
            @Html.ActionLink("返回评论管理首页", "Index")
        </div>
    }
</div>
