@model IEnumerable<Movie.Models.Total>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.comment.UserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.user.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.comment.VideoId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.video.Vname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.comment.Content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.comment.CommentTime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.comment.UserId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.user.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.comment.VideoId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.user.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.comment.Content)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.comment.CommentTime)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.comment.CommentId }) |
            @Html.ActionLink("Details", "Details", new { id=item.comment.CommentId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.comment.CommentId })
        </td>
    </tr>
}

</table>
