@model Movie.Models.Total
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_User.cshtml";
}
<div class="container" style="width: 80%;" align="center">
    <h3 align="left">>>@Html.DisplayFor(Model => Model.video.Vname)</h3>
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="thumbnail">
                <video width="100%" controls >
                    <source src="@Url.Content(Model.video.Vurl)" type="video/mp4">
                </video>
                <div class="caption">
                    <p align="left">
                        @using (Html.BeginForm("AddFavorite", "UserOperation", FormMethod.Post, new { style = "float:left;width:20px;height:20px" }))
                        {
                            <button type="submit" class="btn btn-lg btn-link"><span class=" glyphicon glyphicon-star"></span></button>
                        }
                    </p>

                    <p align="left">
                        <span><span class="glyphicon glyphicon-expand">@Html.DisplayFor(Model => Model.video.ViewedNum)</span></span>
                        <span style="float:right"><span class="glyphicon glyphicon-check">@Html.DisplayFor(Model => Model.CommentNum)</span></span>
                    </p>         
                </div>
            </div>
        </div>
        <br />
        @*<div style="padding-left: 15px; padding-right: 15px;float:left">*@
            @using (Html.BeginForm("Detail","UserOperation",FormMethod.Post, new {style= "padding-left: 15px; padding-right: 15px;width:100%;" }))
            {
                @Html.AntiForgeryToken()
                @Html.TextAreaFor(model => model.comment.Content, new { htmlAttributes = new { rows=10 } })
                <button type="submit" class="btn btn-default" style="float: left;">Submit</button>
            }
    </div>
    @{ Html.RenderAction("CommentList","UserOperation");}
</div>

