@model Movie.Models.Total
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_User.cshtml";
}
<div class="container" style="width: 80%;" align="center">
    <h3 align="left">>>@Html.DisplayFor(Model => Model.video.Vname)</h3>
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="thumbnail">
                <video width="100%" controls >
                    <source src="@Url.Content(Model.video.Vurl)" type="video/mp4">
                </video>
                <div class="caption">
                    <p align="left">
                        @{Html.RenderAction("AddFavorite", "UserOperation");}
                    </p>

                    <p align="left">
                        <span><span class="glyphicon glyphicon-expand">@Html.DisplayFor(Model => Model.video.ViewedNum)</span></span>
                        <span style="float:right"><span class="glyphicon glyphicon-check">@Html.DisplayFor(Model => Model.CommentNum)</span></span>
                    </p>         
                </div>
            </div>
        </div>
        <br />
        @{Html.RenderAction("AddComment", "UserOperation");}
    </div>
    <div id="CommentList">
        @{Html.RenderAction("CommentList", "UserOperation");}
    </div>
</div>
@section scripts{
    <script>
        $(document).ready(function () {

            $('#Cform').on('submit', function (e) {
                e.preventDefault();

                $.ajax({
                    type: 'post',
                    url: '@Url.Action("AddComment","UserOperation")',
                    data: $('#Cform').serialize(),
                    success: function (data) {
                        $('#CommentList').html(data);
                    }
                });

            });

        });
    </script>
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
}

