@model IEnumerable<Movie.Models.Video>

@{
    // 检查Cookies是否存在
    if (Request.Cookies["uid"] != null)
    {
        ViewBag.Title = "欢迎"+ Request.Cookies["uid"].Value;
    }
    else
    {
        ViewBag.Title = "游客";
    }
    /*for (int i = 0; i < Request.Cookies.Count; i++)
    {
        Response.Write("Cookie[" + i + "]的Name为：" + Request.Cookies[i].Value + "<br/>");
    }*/
}
@{ 
    Layout = "~/Views/Shared/_User.cshtml";
}


<div class="container marketing" align="center">
    <div id="myCarousel" class="carousel slide">
        <!-- 轮播（Carousel）指标 -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <!-- 轮播（Carousel）项目 -->
        <div class="carousel-inner">
            <div class="item active">
                <a href="@Url.Action("Detail","UserOperation",new { id = Model.ElementAt(0).VideoId })">
                    <img src="@Url.Content(Model.ElementAt(0).Thumbnail)" style="width: 100%; height: 400px" alt="First slide">
                </a>  
            </div>
            <div class="item">
                <a href="@Url.Action("Detail","UserOperation",new { id = Model.ElementAt(1).VideoId })">
                    <img src="@Url.Content(Model.ElementAt(1).Thumbnail)" style="width: 100%; height: 400px" alt="First slide">
                </a>
            </div>
            <div class="item">
                <a href="@Url.Action("Detail","UserOperation",new { id = Model.ElementAt(2).VideoId })">
                    <img src="@Url.Content(Model.ElementAt(2).Thumbnail)" style="width: 100%; height: 400px" alt="First slide">
                </a>
            </div>
        </div>
        <!-- 轮播（Carousel）导航 -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <br />

    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-4">
            <a href="@Url.Action("Detail","UserOperation",new { id = Model.ElementAt(3).VideoId })">
                <img src="@Url.Content(Model.ElementAt(3).Thumbnail)" style="width: 236px; height: 322px">
                <h2>@Html.DisplayFor(Model=>Model.ElementAt(3).Vname)</h2>
                <p>@*@Html.DisplayFor(Model => Model.ElementAt(3).Vinfo)*@</p>
            </a>
            <p><a class="btn btn-primary" href="@Url.Action("Detail","UserOperation",new { id = Model.ElementAt(3).VideoId })" role="button">查看详情 &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <a href="@Url.Action("Detail","UserOperation",new { id = Model.ElementAt(4).VideoId })">
                <img src="@Url.Content(Model.ElementAt(4).Thumbnail)" style="width: 236px; height: 322px">
                <h2>@Html.DisplayFor(Model => Model.ElementAt(4).Vname)</h2>
                @*<p>@Html.DisplayFor(Model => Model.ElementAt(4).Vinfo)</p>*@
            </a>
            <p><a class="btn btn-primary" href="@Url.Action("Detail","UserOperation",new { id = Model.ElementAt(4).VideoId })" role="button">查看详情 &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <a href="@Url.Action("Detail","UserOperation",new { id = Model.ElementAt(5).VideoId })">
                <img src="@Url.Content(Model.ElementAt(5).Thumbnail)" style="width: 236px; height: 322px">
                <h2>@Html.DisplayFor(Model => Model.ElementAt(5).Vname)</h2>
                @*<p>@Html.DisplayFor(Model => Model.ElementAt(5).Vinfo)</p>*@
            </a>
            <p><a class="btn btn-primary" href="@Url.Action("Detail","UserOperation",new { id = Model.ElementAt(5).VideoId })" role="button">查看详情 &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->

    <br />
    <!-- START THE FEATURETTES -->
    @*<h1 align="left">喜剧</h1>*@
    <hr class="featurette-divider">
    <div class="row featurette">
        <div class="col-md-7" style="padding-left: 0px;">
            <h2>@Html.DisplayFor(Model => Model.ElementAt(6).Vname)</h2>
            <p class="lead">@Html.DisplayFor(Model => Model.ElementAt(6).Vinfo)</p>
        </div>
        <div class="col-md-5">
            <h2></h2>
            <a href="@Url.Action("Detail","UserOperation",new { id = Model.ElementAt(6).VideoId })">
                <img class="featurette-image img-responsive center-block" src="@Url.Content(Model.ElementAt(6).Thumbnail)" style="width: 500px; height: 281px;">
            </a>
        </div>
    </div>

    @*<h1 align="right">剧情</h1>*@
    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 col-md-push-5" style="padding-right: 0px;">
            <h2>@Html.DisplayFor(Model => Model.ElementAt(7).Vname)</h2>
            <p class="lead">@Html.DisplayFor(Model => Model.ElementAt(7).Vinfo)</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
            <h2></h2>
            <a href="@Url.Action("Detail","UserOperation",new { id = Model.ElementAt(7).VideoId })">
                <img class="featurette-image img-responsive center-block" src="@Url.Content(Model.ElementAt(7).Thumbnail)" style="width: 500px; height: 281px;">
            </a>
        </div>
    </div>

    @*<h1 align="left">动作</h1>*@
    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7" style="padding-left: 0px;">
            <h2>@Html.DisplayFor(Model => Model.ElementAt(8).Vname)</h2>
            <p class="lead">@Html.DisplayFor(Model => Model.ElementAt(8).Vinfo)</p>
        </div>
        <div class="col-md-5">
            <h2></h2>
            <a href="@Url.Action("Detail","UserOperation",new { id = Model.ElementAt(8).VideoId })">
                <img class="featurette-image img-responsive center-block" src="@Url.Content(Model.ElementAt(8).Thumbnail)" style="width: 500px; height: 281px;">
            </a>
        </div>
    </div>

    @*<h1 align="right">爱情</h1>*@
    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 col-md-push-5" style="padding-right: 0px;">
            <h2>@Html.DisplayFor(Model => Model.ElementAt(9).Vname)</h2>
            <p class="lead">@Html.DisplayFor(Model => Model.ElementAt(9).Vinfo)</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
            <h2></h2>
            <a href="@Url.Action("Detail","UserOperation",new { id = Model.ElementAt(9).VideoId })">
                <img class="featurette-image img-responsive center-block" src="@Url.Content(Model.ElementAt(9).Thumbnail)" style="width: 500px; height: 281px;">
            </a>
        </div>
    </div>
</div><!-- /.container -->