@model Movie.Models.Video
@{
    ViewBag.Title = "投稿";
    Layout = "~/Views/Shared/_User.cshtml";
}


@using (Html.BeginForm("Upload", "UserOperation", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>上传</h4>
        <hr />

        <div class="form-group">
            请先填写要上传电影的基本信息
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Vname, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Vname, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Vname, "", new { @class = "text-danger" })
            </div>
        </div>

        @Html.HiddenFor(model => model.Vurl)

        @Html.HiddenFor(model => model.Thumbnail)

        <div class="form-group">
            @Html.LabelFor(model => model.Vtype, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EnumDropDownListFor(model => model.Vtype, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Vtype, "", new { @class = "text-danger" })
            </div>
        </div>

        @Html.HiddenFor(model => model.UserId)

        @Html.HiddenFor(model => model.UserId)

        <div class="form-group">
            @Html.LabelFor(model => model.Vinfo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Vinfo, new { @class = "form-control", rows = 10, style = "width:280px" })
                @Html.ValidationMessageFor(model => model.Vinfo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">上传视频的图片</label>
            <div class="col-md-10">
                <input type="file" name="file2" class="btn btn-default" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">上传视频</label>
            <div class="col-md-10">
                <input type="file" name="file1" class="btn btn-default" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" id="ButtonUpload" value="上传" class="btn btn-default" />
            </div>
        </div>
    </div>
}



