@model PagedList.IPagedList<Movie.Models.Total>
@using PagedList.Mvc
@{
    Layout = "~/Views/Shared/_User.cshtml";
}
@{
    ViewBag.Title = "查看上传记录";
}
<h2>查看上传记录</h2>
<table class="table" style="table-layout:fixed">
    <tr>
        <th>
            电影名
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Vurl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Thumbnail)
        </th>*@
        <th>
            播放次数
        </th>
        <th>
            上传时间
        </th>
        <th>
            电影类型
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>*@
        <th>
            电影信息
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a href="@Url.Action("Detail","UserOperation",new { id = item.video.VideoId })">
                    @Html.DisplayFor(modelItem => item.video.Vname)
                </a>
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Vurl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Thumbnail)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.video.ViewedNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.video.UploadTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.video.Vtype)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>*@
            <td style="overflow:hidden;white-space:nowrap;text-overflow:ellipsis;">
                @Html.DisplayFor(modelItem => item.video.Vinfo)
            </td>
            @*<td>
                @Html.ActionLink("Edit", "Edit", new { id = item.VideoId }) |
                @Html.ActionLink("Details", "Details", new { id = item.VideoId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.VideoId })
            </td>*@
        </tr>
    }

</table>

每页 @Model.PageSize 条记录，共 @Model.PageCount 页，当前第 @Model.PageNumber 页
@Html.PagedListPager(Model, page => Url.Action("UploadRecord", new { page })) 