@model IEnumerable<Movie.Models.FavoriteDetail>
@{
    Layout = "~/Views/Shared/_User.cshtml";
}
@{
    ViewBag.Title = "用户收藏查看";
}
<h2>收藏</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.VideoId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FavoriteTime)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VideoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FavoriteTime)
            </td>
        </tr>
    }

</table>