@model IEnumerable<Movie.Models.Total>
@{
    Layout = "~/Views/Shared/_User.cshtml";
}
@{
    ViewBag.Title = "查看观看记录";
}

<h2>查看观看记录</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.video.VideoId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.video.Vname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.history.HistoryTime)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.video.VideoId)
            </td>
            <td>
                <a href="@Url.Action("Detail","UserOperation",new { id = item.video.VideoId })">
                    @Html.DisplayFor(modelItem => item.video.Vname)
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.history.HistoryTime)
            </td>
            @*<td>
                @Html.ActionLink("Edit", "Edit", new { id = item.HistoryId }) |
                @Html.ActionLink("Details", "Details", new { id = item.HistoryId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.HistoryId })
            </td>*@
        </tr>
    }

</table>


